pytest==8.4.1
requests==2.32.5
pytest-asyncio==0.24.0
httpx==0.28.1
pydantic==2.11.7
faker==33.1.0
pytest-html==4.1.1
pytest-cov==6.0.0
python-dotenv==1.1.1
email-validator==2.3.0
jsonschema==4.23.0
allure-pytest==2.14.0
pydantic[email]